{% extends 'main.html' %}

{% block content %}
    <cadastro-emprestimo class="container-branco">
        <div container flex="centro">
            <form method='POST'>
                {% csrf_token %}
                <div id="campos-form-emprestimo">
                    {{form.as_p}}
                </div>
                <p flex="centro">
                    <button type='submit'>Cadastrar</button>
                </p>
            </form>
        </div>
    </cadastro-emprestimo>
{% endblock %}