<nav>
    <grid-nav>
        <a href="">
            LOGO
            Início
        </a>
        <ul>
            <li><a href="">
                Cadastrar Livro
            </a></li>
            <li><a href="">
                Ferramentas
            </a></li>
            <li><a href="">
                <input type="text" placeholder="Localizar livro">
            </a></li>
            <li><a href="">
                Deslogar
            </a></li>
        </ul>
    </grid-nav>
</nav>
<!-- <nav>
    <ul>
        <li class="margin-direita-extra-grande"><a href="">
            LOGO
            Início
        </a></li>
        <li><a href="">
            Cadastrar Livro
        </a></li>
        <li><a href="">
            Ferramentas
        </a></li>
        <li><a href="">
            <input type="text" placeholder="Localizar livro">
        </a></li>
        <li><a href="">
            Deslogar
        </a></li>
    </ul>
</nav> -->