<nav>
    <grid-nav>
        <div class="texto-centro">
            <a href="">
                LOGO
                Início
            </a>
        </div>
        <div class="texto-centro">
            <ul>
                <li><a href="">
                    Cadastrar Livro <i class="fa-solid fa-circle-plus fa-sm" style="color: #cacaca;"></i>
                </a></li>
                <li><a href="">
                    Ferramentas <i class="fa-solid fa-angles-down fa-sm"></i>
                </a></li>
                <li>
                    <input type="text" placeholder="Localizar livro">
                </li>
                <li><a href="">
                    Deslogar <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                </a></li>
            </ul>
        </div>
    </grid-nav>
</nav>