body {
    display: grid;
    grid-template:
        "nav nav nav" 1fr
        "main main main" 1fr
        "main main main" 1fr;
}

nav {
    grid-area: nav;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul li {
    float: left;
}

nav>ul li a {
    padding: 16px;
    text-decoration: none;
}

main {
    grid-area: main;
}