body {
    display: grid;
    grid-template:
        "nav nav nav" auto
        "main main main" 1fr
        "main main main" 1fr;
}

nav {
    grid-area: nav;
    margin: 20px 0 60px 0;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    padding: 0 16px;
}

nav a {
    text-decoration: none;
    font-size: var(--letra-media);
    font-weight: bold;
    color: black;
}

grid-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

main {
    grid-area: main;
}