* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    /* tamanhos de letras */
    --letra-grande: 2em;
    --letra-media: 1.4em;
    --letra-media-pequena: 1.2em;

    /* cores */
    --vermelho: #e80000;
}

h1 {
    font-size: var(--letra-grande);
}

h2 {
    font-size: var(--letra-media);
}

h3 {
    font-size: var(--letra-media-pequena);
    color: #4f4f4f;
    font-weight: 400;
}

[flex] {
    display: flex;
}

[flex="centro"] {
    justify-content: center;
}

usuarios-vencidos > div {
    margin: 0 10px;
}

usuarios-vencidos {
    padding: 40px;
}

livros-adicionados-recentemente {
    padding: 40px;
}

livros-adicionados-recentemente > img {
    /* proporção 3:4 */
    width: 200px;
    height: 266.66px;
    margin: 0 10px;
}