* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --letra-grande: 2em;
    --letra-media: 1.4em;
}

h1 {
    font-size: var(--letra-grande);
}

.margin-direita-extra-grande {
    margin-right: 100px;
}